@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html{
	margin: 10;
	font-family: 'Montserrat';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	height: 50px;
	width: 100%;
	background: blue;
}

#logoDiv{
	height: 100px;
	width: 100%;
	background: green;
}

ul img, .logoSide{
	height: 15px;
    padding: 14px 20px;
    color: #a9a9a9;
	float:right;
}

li {
    float: left;
}

#logo{
	margin: auto;
}


li a, .dropbtn {
    display: inline-block;
    color: #a9a9a9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
	font-size: 0.8em;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #ff3b3f;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #a9a9a9;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.active {
    border-bottom: 2px solid #ff3b3f;
}

.dropdown-content a:hover {color: #ff3b3f;}

.dropdown:hover .dropdown-content {
    display: block;
}